body {
  background-color: beige;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
a {
  color: brown;
}
.footer {
  text-align: center;
  display: block;
}
.croissant-pic {
  display: block;
  max-width: 800px;
}
